.box{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.rowBox{
    display: flex;
    flex-direction: row;
}
.item{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: darkolivegreen solid 1px;
}
.itemImg{
    height: 200px;
}
.title{
    color: red;
    font-size: large;
}
.introduce{
    color: black;
}
